/* css styles */
body {
  background-color: #f9f7f4;
}

.navbar {
    background-color: #f4f1ea;
    color: #382110;
}

.navbar-brand {
color:#3d3929 !important;
font-weight: bold;
}

.navbar-toggler {
  color:#d97757 !important;
}

.navbar-container {
    width: 1220px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #d97757 !important;
}

.nav-link:hover, .nav-link:focus {
    color: #d97757 !important;
}

.quarto-grid-item p.card-img-top>img {
    object-fit: cover !important;
    height: 160px !important;
}

.quarto-grid-item .card-subtitle {
    padding-top: .25em;
    font-size: medium;
    color: #666363;
}

.quarto-grid-item .card-title {
    margin-bottom: .1em;
    font-weight: bolder;
}

.quarto-grid-item.card.h-100.card-left:hover .listing-title {
  color: #d97757;
}